# --- KiCad ---
# Archivos de respaldo y temporales de diseño
*.bak
*.kicad_prl
*-backups/
_autosave-*
*.lck

# --- STM32 (CubeIDE / Keil / Makefile) ---
# No subimos binarios ni objetos (solo el código fuente)
Debug/
Release/
bin/
obj/
*.elf
*.hex
*.bin
*.map
*.o
*.su

# --- Sistema y Editores ---
.DS_Store
Thumbs.db
.vscode/
.history/